@import "tailwindcss";

:root {
  --color-primary: #101829;
  --color-dark: #1a1a1a;
  --color-accent: #deba3a;
  --color-secondary: #1e2838;
  --color-grayy: #262626
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Cairo', sans-serif;
  direction: rtl;
}

.hover-glow:hover {
  box-shadow: 0 0 10px rgba(255, 191, 0, 0.8);
}

.swiper-button-next,
.swiper-button-prev {
  color: #deba3a !important;
  font-size: 30px !important;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: #dfa618 !important;
}

.swiper-pagination-bullet {
  background-color: #f59e0b !important;
  width: 12px !important;
  height: 12px !important;
  opacity: 0.6 !important;
  margin: 0px 4px 0px 4px !important;
}

.swiper-pagination-bullet-active {
  background-color: #f59e0b !important;
  transform: scale(1.2);
}